#canevas{
    background-color: black;
}

#messageDebutPartie {
    color: white;
    text-align: center;
    font-family: "Bungee", sans-serif; 
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}