#canevas{
    background-color: black;
}

#messageDebutPartie {
    color: white;
    text-align: center;
    font-family: "Bungee", sans-serif; 
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Score1{
    font-size: 100px;
    width:fit-content;
    color: rgb(175, 143, 255) ;
    padding: 10px;
    position: fixed;
    left: 200px;
    top:0px;
    font-family:Bungee;
    
}
#Score2{
    font-size: 100px;
    width:fit-content;
    color: rgb(255, 151, 222);
    padding: 10px;
    position: fixed;
    left: 1500px;
    top:0px;
    font-family:Bungee;
}